version: '3.8'

services:
  backend:
    build: ./backend
    container_name: fullstack-backend
    ports:
      - "8080:8080"
    environment:
      - PORT=8080
      - DB_HOST=postgres
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_NAME=hst_db
      - JWT_SECRET=your-super-secret-jwt-key
      # Email configuration (Gmail SMTP)
      - SMTP_HOST=smtp.gmail.com
      - SMTP_PORT=587
      - SMTP_USER=ukt40g412345678@gmail.com
      - SMTP_PASSWORD=afov bzqy ajxq wgig
      - SMTP_FROM=ukt40g412345678@gmail.com
    volumes:
      - ./backend/uploads:/app/uploads
    networks:
      - app-network
    depends_on:
      - postgres

  postgres:
    image: postgres:15-alpine
    container_name: fullstack-postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=hst_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: fullstack-frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://teocaothu.io.vn/api
      - HOST=0.0.0.0
      - PORT=3000
      - BROWSER=none
      - WDS_SOCKET_HOST=0.0.0.0
      - WDS_SOCKET_PORT=3000
      - DANGEROUSLY_DISABLE_HOST_CHECK=true
      - WATCHPACK_POLLING=true
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - frontend_node_modules:/app/node_modules
    networks:
      - app-network
    depends_on:
      - backend
    stdin_open: true
    tty: true

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  frontend_node_modules: